API_KEY = "put your API key from Kavenegar here."
DATABASE_FILE_PATH = "paht to the file which is used by sqlite"

#login cedentials
USERNAME = 'username'
PASSWORD = 'pass'


# generate one strong secret key for flask
SECRET_KEY = 'random long string with alphanumric'



### Do not change below unless you know what you are doing
UPLOAD_FILE = '/tmp'
ALLOWED_EXTENSIONS = {'xlsx'}
